form {
    padding: 3rem;
    background-color: #ddd;
}

table {
    width: 100%;
}

td {
    border: 1px black ridge;
    text-align: center;
    padding: 0.4rem 1rem;
    min-width: 7.5rem;
}

.cell-task-name {
    min-width: 15rem;
    text-align: left;
}