.modal .modal-dialog {
    position: fixed !important;
    width: 400px !important;
    top: 50px;
    left: calc( 50% - 250px);
    padding: 50px;
    background-color: #eee;
    border: 3px #444 solid;
}

.modal .modal-dialog input {
    margin: 5px;
}

.kanban-board {
    width: calc( 140rem + 40px );
}

.task-column {
    width: 20rem;
    background-color: #ccc;
    border: 1px #333 solid;
    display: inline-block;
    vertical-align:top;
}

.task-column__header {
    width: 14rem;
    margin: 1rem 1rem 0 1rem;
    padding: 2rem;
    background-color: #777;
    color: #eee;
    text-align: center;
    font-size: 1.5rem;
}

.task-column__body {
    width: 16rem;
    margin: 0 1rem 1rem 1rem;
    padding: 0.8rem 1rem;
    background-color: #999;
    min-height: 2rem;
}

.task {
    width: 12rem;
    height: 3rem;
    margin: 0.5rem 1rem;
    background-color: #eee;
    padding: 1rem;
    user-select: none;
}

.task.selected {
    background-color: #cce;
}

.task__name {
    display: block;
}

.task__pomodori {
    display: inline-block;
    float: left;
}

.task__controls {
    display: inline-block;
    float: right;
}

.task-controls__icon {
    cursor: pointer;
}


